<div class="container mx-auto">
  <fluent-card>
    <h2>{{title}}</h2>

    <fluent-text-field
      [(ngModel)]="exampleTextField"
      name="exampleTextField"
      ngDefaultControl
      placeholder="Enter Some Text"
    ></fluent-text-field>

    <fluent-select title="Select a section">
      <fluent-option value="1">Beginning</fluent-option>
      <fluent-option value="2">Middle</fluent-option>
      <fluent-option value="3">End</fluent-option>
    </fluent-select>

    <fluent-number-field value="0">Number: </fluent-number-field>


    <fluent-button appearance="accent" (click)="onClick()">Click Me</fluent-button>
  </fluent-card>
</div>
<router-outlet></router-outlet>
